

body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }

  .titulo{
     
      color: #007bff;
    
  }
  .btn1 {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  